<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends of the Manatee</title>
    <style>
       * { box-sizing: border-box;}
        body {
            background-color: rgb(10, 10, 10);
            color: rgb(124, 123, 122);
            
        }
        header {
            color: #ffbf00;
            font-size: xx-large;
            text-align: center;
            font-style: oblique;
        }
        legend{
            color:#ffbf00 ;
            font-size: x-large;
            font-style: italic;
        }
        .submit button{
            float: left;
            /* float left for piutting it next to each other */
            width: 50%;
        }
        .info label{ 
            display: inline-block;
            width: 100%;
            text-align: left;
        }
        .info input{
            display: inline-block;
            width: 10%;
            text-align: left;

        }
        .info select{
            display: inline-block;
            width: 10%;
            text-align: left;
        }
        .checks label {
            display: inline-block;
            text-align: left;
            width: 50%;
            
        }
        .checks input{
            float: left;
            
        }
       .color p {
           font-size: larger;
           color: burlywood;

       }
       .checks label {
           color: burlywood;
       }
       .color label {
           display: inline-block ; 
           text-align: right;
           

       }
       .color input{
           display: inline-block;
           text-align: right;
           width: 10%;
       }
       footer {
           color: white;
           font-size: xx-large;
           font-style: initial;
       }
       .textarea{
           color: burlywood;
           font-style: oblique;
           
       }
       label{
           color: #ffbf00;
       }
       h1{
           font-size: larger;
           font-style: oblique;
           color: #ffbf00;
           text-align: center;
       }
    </style>
</head>
<body>
    <h1>MongoDb Project</h1>
    <h3>Please Fill Out The Form Below For Subscription</h3>
    <form action='/subscription' method='POST' id="HolidayForm">
        <div class="info"> 
            <label for="FirstName">FirstName:</label>
            <input type="text" id="FirstName" name="firstName">
           
            <label for="LastName">LastName:</label>
            <input type="text" id="LastName" name="lastName">
           
            <label for="email">Email Address:</label>
            <input type="email" required id="email" name="email">
           
            <label for="number">Phone Number:</label>
            <input type="number" id="number" name="number">
            <button type='submit'>Submit</button> -->
           </div>
    </form>
    <fieldset>
        <legend> Results:  </legend>
        <div class="checks"> 

            <ul>

                <% for(var i=0; i<subscription.length; i++){%>
                    <li>
                        <span><%= subscription[i].firstName %></span>/
                        <span><%= subscription[i].lastName %></span>/
                        <span><%= subscription[i].email %></span>/
                        <span><%= subscription[i].number %></span>.
                    </li>
                <% } %>
            </ul>
        
       </div>
    </fieldset>
</body>
</html>

